@import '../../utils/variables';


#project-container {
     position: absolute;
     top: 0;
     right: 0;
     // z-index: 500;
     background: $aqua;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100%;
     // width: 100%;

     #test {
          color: #333;
     }
}