
// Small tablets and large smartphones (landscape view)
$screen-small-phone-max: 360px;

// Small tablets (portrait view)
$screen-large-phone-max: 420px;

// Tablets and small desktops
$hamburger-menu-max: 560px;

// Large tablets and desktops
$medium-desktop-max: 1200px;


// WIDTH

// Small devices
@mixin max-360 {
    @media (max-width: #{$screen-small-phone-max}) {
        @content;
    }
}
  
// Medium devices
@mixin max-420 {
     @media (max-width: #{$screen-large-phone-max}) {
         @content;
     }
}

// Hamburger Menu
@mixin hamburger-max {
    @media (max-width: #{$hamburger-menu-max}) {
        @content;
    }
}
  
// Extra large devices
@mixin max-1200 {
    @media (max-width: #{$medium-desktop-max}) {
        @content;
    }
}

//HEIGHT
@mixin max-height-410 {
    @media (max-height: 410px) {
        @content;
    }
}


@mixin max-height-600 {
    @media (max-height: 600px) {
        @content;
    }
}