$dark-gray: #181818;
$light-gray: #222222;
$lighter-gray: #303030;

$background-color: rgb(29, 29, 29);
$light-text: rgb(130, 130, 130);
$aqua: #08fdd8;


$off-white: #c9c9c9;
$white: #FFFFFF;

// for right side of contact
$empty-background-color: rgba(8, 253, 216, .1)