@import '../styling/variables';

#content-container {
     background: $background-color;     
     height: 100%;
     position: absolute;
     right: 0;
     width: calc(100% - 60px);
     width: -o-calc(100% - 60px); /* opera */
     width: -webkit-calc(100% - 60px); /* google, safari */
     width: -moz-calc(100% - 60px); /* firefox */
     // border: 1px red solid;

     .transition-group {
          position: relative;
     }

     #route-section {
          // border: 1px purple solid;
          position: absolute;
          height: 100vh;
          width: 100%;
          top: 0;
          left: 0;
     }
}