@import '../styling/variables';
@import '../styling/responsiveMixins';

#content-container {
     background: $background-color;     
     height: 100%;
     position: absolute;
     right: 0;
     width: calc(100% - 60px);
     width: -o-calc(100% - 60px); /* opera */
     width: -webkit-calc(100% - 60px); /* google, safari */
     width: -moz-calc(100% - 60px); /* firefox */
     // border: 1px green solid;

     @include max-1200 {
          height: calc(100% - 60px);
          height: -o-calc(100% - 60px); /* opera */
          height: -webkit-calc(100% - 60px); /* google, safari */
          height: -moz-calc(100% - 60px); /* firefox */
          width: 100%;
          bottom: 0;
     }

}