@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import '../styling/variables';
@import '../styling/responsiveMixins';

textarea { resize: none; }


#contact-section {
     // border: 1px red solid;
     // font-family: 'Mukta', sans-serif;
     font-family: 'Josefin Sans', sans-serif;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100%;
     width: 45%;

     @include max-1200 {
          height: calc(100% - 60px);
          height: -o-calc(100% - 60px); /* opera */
          height: -webkit-calc(100% - 60px); /* google, safari */
          height: -moz-calc(100% - 60px); /* firefox */
          width: 100%;
     }

     #contact-container {
          // border: 1px red solid;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 55%;
          width: 75%;

          @include max-1200 {
               padding: 0 10px;
               height: 75%;
               width: 90%;
          }

          @include max-360 {
               height: 90%;
          }

          @include max-height-410 {
               height: 90%;
               width: 90%;
          }

          @include max-height-600 {
               height: 90%;
               width: 90%;
          }

          .contact-title {
               padding-top: 10px;
               font-size: 60px;
               color: $aqua;

               @include max-360 {
                    font-size: 50px;
               }

               @include max-height-410 {
                    font-size: 45px;
               }
          }

          #form-container {
               // border: 1px green solid;
               display: flex;
               flex-direction: column;
               justify-content: space-between;
               height: 80%;

               #name-email-container {
                    display: flex;
                    position: relative;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    // border: 1px red solid;

                    .name { width: 48%; }

                    .email { width: 48%; }
               }

               .subject { 
                    // border: 1px red solid;
                    width: 100%; 
               }

               input, textarea {
                    outline: none;
                    color: #777;
                    background: $light-gray;
                    border: none;
                    margin-top: 8px;
                    padding: 10px;
                    font-size: 15px;
                    height: 50px;

                    &::placeholder {
                         color: #444
                    }
               }

               #message-container {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // border: 1px red solid;
                    height: 60%;
                    width: 100%;

                    .message {
                         height: 90%;
                         width: 100%;
                    }

                    @include max-1200 {
                         height: 200px;
                         height: 70%;
                    }

                    @include max-height-410 {
                         height: 40%;
                    }
               }

               .form-submit {
                    font-family: 'Josefin Sans', sans-serif;
                    outline: none;
                    cursor: pointer;
                    background: $dark-gray;
                    margin-top: 10px;
                    padding-top: 2px;
                    height: 30px;
                    width: 60px;
                    color: $aqua;
                    border: 1px $aqua solid;
                    border-radius: 5px;
               }

               
          }

          .contact-enter {
               opacity: 0;
               transform: translateY(-60%);
               -webkit-transform: translateY(-60%);
          }

          @keyframes slide-in {
               100% { transform: translateY(0%); }
          }
               
          @-webkit-keyframes slide-in {
               100% { -webkit-transform: translateY(0%); }
          }

          .contact-enter-active {
               opacity: 1;
               animation: slide-in 1.9s forwards;
               -webkit-animation: slide-in 1.9s forwards;
               transition: all 1.9s ease-in;
          }

          #alert-container {
               display: flex;
               justify-content: center;
               align-items: center;
               position: absolute;
               right: -18px;
               // border: 1px red solid;
          }
     }
          
}

#empty-section {
     position: absolute;
     top: 0;
     right: 0;
     height: 100%;
     width: 55%;
     background: $empty-background-color;

     @include max-1200 {
          display: none;
          width: 30%;
     }
}
