@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import '../styling/variables';

.home-enter {
     opacity: 0;
}


.home-enter-active {
     opacity: 1;
     transition: all 1.2s ease-in;
}

#foreground-content {
     height: 100%;
     width: 100%;
     display: flex;
     justify-content: flex-start;
     align-items: center;

     #heading-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          margin-left: 100px;
          border: 1px red solid;

          .heading {
               font-family: 'Josefin Sans', sans-serif;
               color: #fff;
               font-size: 55px;
          }

          .sub-heading {
               font-family: 'Overpass Mono', monospace;
               font-size: 15px;
               color: $aqua;
          }
     }
}