@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import '../styling/variables';

.home-enter {
     opacity: 0;
}


.home-enter-active {
     opacity: 1;
     transition: all 1.2s ease-in;
}

#foreground-content {
     height: 100%;
     width: 100%;
     display: flex;
     justify-content: flex-start;
     align-items: center;

     #heading-container {
          font-family: 'Josefin Sans', sans-serif;
          color: $white;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          height: 160px;
          margin-left: 100px;
          // border: 1px red solid;

          .top-heading {
               font-family: 'Overpass Mono', monospace;
               font-size: 20px;
               padding-bottom: 12px;
               color: $aqua;
          }

          .mid-heading {
               font-size: 60px;
          }

          .bottom-heading {
               font-size: 60px;
               color: $off-white;
          }
     }
}