@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300&display=swap');
@import '../styling/variables';
@import '../styling/responsiveMixins';

#navbar-container {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     position: fixed;
     z-index: 1000;
     background: $dark-gray;
     height: 100%;
     width: 60px;
     border-right: 1px #fff solid;

     @include max-1200 {
          width: 100%;
          height: 60px;
          flex-direction: row;
          border-right: none;
          border-bottom: 1px #fff solid;

     }

     .link {
          text-decoration: none;
     }

     .icon {
          // border: 1px red solid;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          height: 45px;
          width: 45px;
     }

     .icon-text {
          font-family: 'Overpass Mono', monospace;
          color: $aqua;
          font-size: 9px;
     }

     #home-nav {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          background: black;
          height: 55px;
          width: 100%;

          @include max-1200 {
               width: 55px;
               height: 100%;
          }
     }

     #extra-links-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          height: 220px;
          width: 90%;

          @include max-1200 {
               flex-direction: row;
               width: 220px;
               height: 90%;
          }
     }
}