#normal-project-layout-container {
     border: 1px green solid;
     display: flex;
     flex-direction: row;
     align-items: center;
     margin: 20px;
     height: 50vh;
     min-height: 300px;
     width: 70vw;

     #showcase-container {
          border: 1px red solid;
          position: relative;
          height: auto;
          width: 60%;
          height: 100%;

          .image {
               display: block;
               height: auto;
               width: 100%;
               border-radius: 10px;
          }

          .image-overlay {
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
               border-radius: 10px;
               background: rgb(0, 0, 0);
               background: rgba(0, 0, 0, 0.5);
               // background: rgb(100, 255, 218);
               // background: rgba(100, 255, 218, 0.5);
               transition: .5s ease;
               opacity: 1;

               &:hover {
                    opacity: 0;
               }
          }
     }
}