@import '../styling/variables';


#project-container {
     position: relative;
     top: 0;
     right: 0;
     background: $aqua;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100%;
     width: 100%;

     #test {
          color: #333;
     }
}