@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import '../styling/variables';
@import '../styling/responsiveMixins';


#projects-container {
     border: 1px purple solid;
     background: $background-color;
     margin-top: 50px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     overflow-x: hidden;
     // max-width: 1700px;

     @include max-420 {
          margin-top: 25px;
     }

     .project-separator {
          display: block;
          width: 600px;
          border: .5px $light-text solid;

          @include max-1200 {
               width: 500px;
          }

          @include max-420 {
               margin-top: 30px;
               margin-bottom: 30px;
               width: 300px;
          }
     }

     #projects-heading-container {
          // border: 1px red solid;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 70%;
          max-width: 1700px;
          // margin-left: 10px;

          @include max-1200 {
               width: 90vw;
          }

          .projects-heading {
               font-family: 'Josefin Sans', sans-serif;
               font-size: 34px;
               color: #fff;

               @include max-420 {
                    font-size: 20px;
               }

               @include max-360 {
                    font-size: 18px;
               }
          }

          hr {
               display: block;
               width: 300px;
               border: 1px $lighter-gray solid;
               margin-left: 20px;

               @include max-420 {
                    width: 125px;
                    margin-left: 15px;
               }

               @include max-360 {
                    width: 100px;
               }
          }
     }

     .projects-enter {
          opacity: 0;
          transform: translateY(-20%);
          -webkit-transform: translateY(-20%);
     }

     .projects-title-enter {
          opacity: 0;
          transform: translateX(-100%);
          -webkit-transform: translateX(-100%);
     }

     @keyframes slide-in {
          100% { 
               transform: translateY(0%); 
               transform: translateX(0%); 
          }
     }
          
     @-webkit-keyframes slide-in {
          100% { 
               -webkit-transform: translateY(0%); 
               -webkit-transform: translateX(0%); 
          }
     }

     .projects-enter-active {
          opacity: 1;
          animation: slide-in 1s forwards;
          -webkit-animation: slide-in 1s forwards;
          transition: all 1s ease-in;
     }

     .projects-title-enter-active {
          opacity: 1;
          animation: slide-in 1s forwards;
          -webkit-animation: slide-in 1s forwards;
          transition: all 1s ease-in;
     }
}