@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import '../styling/variables';

// font-family: 'Josefin Sans', sans-serif;

#project-layout-container {
     // border: 1px green solid;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     margin: 20px 20px;
     height: 350px;
     min-height: 350px;
     width: 70vw;

     #showcase-container {
          // border: 1px red solid;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          min-width: 500px;
          width: 500px;
          height: 100%;

          .laptop {
               height: 250px;
               width: 450px;
          }

          #video-container {
               position: absolute;
               top: 61px;
               right: 89px;
               height: 195px;
               width: 320px;

               #project-video {
                    object-fit: fill;
                    height: 100%;
                    width: 100%;
               }
          }
     }

     #info-container {
          // border: 1px purple solid;
          color: #fff;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          top: 0;
          right: 0;
          width: 45%;
          min-width: 450px;
          height: 90%;

          .featured-project {
               font-family: 'Overpass Mono', monospace;
               font-size: 13px;
               color: $aqua;
          }

          .project-header {
               display: flex;
               flex-direction: row;
               justify-content: space-between;
               align-items: center;

               .project-icon {
                    height: 40px;
                    width: 40px;
                    margin-right: 10px;
               }

               .project-title {
                    padding-top: 5px;
                    font-family: 'Josefin Sans', sans-serif;
                    font-size: 32px;
               }
          }

          .project-description {
               color: $light-text;
               background: $lighter-gray;
               border-radius: 5px;
               padding: 10px 20px;
               font-family: 'Lato', sans-serif;
               // border: 1px red solid;
          }

          .techstack {
               display: flex;
               flex-direction: row;
               justify-content: space-evenly;
               align-items: center;
               width: 100%;
               // border: 1px red solid;
               font-family: 'Overpass Mono', monospace;
               font-size: 12px;
               padding-bottom: 5px;
          }

          .project-links {
               display: flex;
               flex-direction: row;
               justify-content: space-evenly;
               align-items: center;
               width: 20%;
               // border: 1px red solid;
          }

     }
}