@import '../../utils/variables';

#navbar-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     height: 100%;
     width: 70px;
     border-right: 1px #fff solid;
     background: $dark-gray;

     #project-nav-icon {
          cursor: pointer;
     }
}